<%= content_for :title, "Все пользователи" %>
<h1>Все пользователи</h1>
<%= will_paginate %>

<% if @users.any? %>
  <ul class="users">
    <%= render @users %>
  </ul>
<% else %>
  <span class="empty_message">Список пользователей пуст</span>
<% end %>

<%= will_paginate %>