<h1>Профиль пользователя</h1>
<span class="gravatar"><%= gravatar_for @user %></span><br />
<span class="user_name">Имя: <%= @user.name %></span><br />
<span class="post_count">Постов: <%= @user.posts.count %></span><br />
<span class="comments_count">Комментариев: <%= @user.comments.count %> </span>