.container {
    width: 800px;
}

body {
    background: #FFCC66;
}

header {
    padding-top: 20px;
}

header img {
    padding: 1em;
    background: #fff;
    height: 30px;
}

section {
    margin-top: 1em;
    font-size: 120%;
    padding: 20px;
    background: #fff;
}

section h1 {
    font-size: 200%;
}

/* Links */

a {
    color: #09c;
    text-decoration: none;
}

a:hover {
    color: #069;
    text-decoration: underline;
}

a:visited {
    color: #069;
}

/* Navigation */

nav {
    float:right;
    background-color: white;
    padding: 0 0.7em;
    white-space: nowrap;
    margin-top: 30px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.2em 0;
}

nav ul li a {
    padding: 0 5px;
    font-weight: bold;
}

nav ul li a:visited {
    color: #09c;
}

nav ul li a:hover {
    text-decoration: underline;
}

.round {
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
}

footer {
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

footer nav {
    float: none;
}

div.posts {
    margin-top: 1em;
}

.post .title{
    font-weight: bold;
    font-size: 120%;
}

.post{
    border-style: solid;
    border-width: 1px;
    border-color: silver;
    padding: 10px;
}

.post_content{
    border-style: solid;
    border-width: 1px;
    border-color: silver;
    padding: 10px;
    min-height: 200px;
}

.post_bar{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: silver;
    margin-top: 0.4em;
    margin-bottom: 1em;
    float:left;
}

.post_bar .comments{
    margin-left: 1em;
}

.users{
    list-style-type: none;
}

.comment{
    margin-top: 1em;
}

.comment .author{
    font-weight: bold;
}

textarea{
    width: 55%;
    height: 100px;
    padding: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius:  10px;
    border-radius:  10px;
}

textarea#post_content{
    height: 200px;
    width: 80%;
}

.field input{
    width: 55%; 
    -moz-border-radius: 10px;
    -webkit-border-radius:  10px;
    border-radius:  10px;
    padding: 5px;
}

.comment_bar{
    margin-bottom: 0.3em;
}

.timestamp{
    margin-left: 0.4em;
    font-size: 90%;
}

.sidebar {
    width: 30%;
    padding: 1em;
    vertical-align: top;
    background: #ffc;
}

.user_posts{
    margin-top: 1em;
}

#post_tag_list{
    margin-bottom: 1em;
}