<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "О блоге", about_path %></li>
      <li><%= link_to "Контакты", contact_path %></li>
      <li><%= link_to "Новости", '#' %></li>
    </ul>
  </nav>
</footer>